.status {
    width: 100%;
    background: #eff4f757;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
}

h1 {
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: #0e4a81;
    font-size: 20px;
    background: white;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.focused_pending {
    color: #0079be !important;
    border-bottom: 3px solid #5baad1 !important;
}

.focused_online {
    color: rgb(3, 124, 124) !important;
    border-bottom: 3px solid rgb(67, 177, 177) !important;
}

.statLabel {
    justify-content: space-between;
}

#online,
#pending {
    font-size: 16px;
    // padding: 10px 30px;
    padding-right: 50px;
    padding-left: 30px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 0;

    span {
        font-size: 20px;
        margin-right: 5px;
        margin-bottom: 2px;
    }
}

#pending {
    color: rgba(10, 154, 239, .6);
}

#online {
    color: rgba(3, 124, 124, .6);
}

.service {
    color: white;
    font-weight: inherit;
}

.mat-raised-button {
    background: rgb(0, 153, 255);
    color: white;
    margin-left: 13%;
}

.badge,
.button {
    margin: 4%;
}

.container {
    position: relative;
    z-index: 10;
    top: 0;

}

.focused_notif {
    background-color: 3px dodgerblue !important;
}

.cont {
    padding:10px;
    padding-bottom: 100px;
    padding-top: 0;
}