<div class="toolbar">
        <div class="logoAndTitle">
                <img class="logo" src="../../assets/logo.png" alt="">
                <span class="title">Explorehub</span>
        </div>
        <div class="tab">
                <button [class.activeTab]="currentPath.includes('/reports')"  (click)="goTo('reports')" mat-stroked-button
                        matBadgePosition="after" matBadgeColor="accent" class="appBtn">
                        <span class="material-icons">bar_chart</span>
                        Reports</button>
                <button [class.activeTab]="currentPath.includes('/bookingNotif')" (click)="goTo('bookingNotif')"
                        mat-stroked-button matBadgePosition="after" [matBadge]="counter1" matBadgeColor="accent" class="appBtn">
                        <span class="material-icons">list</span>
                        Bookings</button>
                <button [class.activeTab]="currentPath.includes('/pageToApprove')" (click)="goTo('pageToApprove')"
                        mat-stroked-button matBadgePosition="after" [matBadge]="counter2" matBadgeColor="accent" class="appBtn">
                        <span class="material-icons" style="font-size: 17px">filter_none</span>
                        Pages</button>
                <button [class.activeTab]="currentPath.includes('/notif')" [matBadge]="notificationCount" (click)="goTo('notif')" mat-stroked-button
                        matBadgePosition="after" matBadgeColor="accent" class="appBtn">
                        <span class="material-icons">notifications_none</span>
                        Notifications</button>
                
                <p class="logout" (click)="logOut()">
                        <span class="material-icons" style="padding-right: 8px">logout</span>
                        Logout </p>
        </div>
</div>
<router-outlet></router-outlet>
<!-- //[matBadge]="counter1" -->
