.notifCard {
    margin:10px 0;
    width: 700px;
    box-sizing: border-box;
    // background-color: #ffff;
    background-color: rgb(237, 243, 248);

    box-shadow: 0 1px 2px rgb(183, 189, 196);
    border-radius: 4px;
    padding:5px;
    position: relative;
    display: flex;

    .notifPicHolder {
        flex-shrink: 0;
        height: 50px;
        width: 50px;
        border-radius: 4px;
        background-color: rgba(186, 199, 218, 0.5);

        .notifPic {
            height: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            width:100%;

            ion-icon {
                color:rgb(92, 108, 122);
                font-size: 25px;
            }
        }
    }

    .unreadsPic {
        background-color: rgba(114, 194, 231, 0.8) !important;

        .notifPic {
            ion-icon {
                
                color: rgb(255, 255, 255) !important;
            }
        }
    }

    .notifInfo {
        padding:0 8px;
        margin-right: 30px;

        .notifDate {
            font-size: 13px;
            padding:5px 0;
            padding-top: 0;
            text-align: left;
            color:rgb(135, 147, 161);
        }
    }
}

.unread {
    // background-image: linear-gradient(to right, rgb(183, 215, 247),rgb(189, 240, 241));
    background-color: rgb(14, 142, 216);
    // border: 1px solid rgb(120, 175, 230);
    color: white;
    .notifInfo {

        .notifTitle {
            font-weight: bold;
        }

        .notifDate {
            color:white;
        }
    }
}

.options {
    top:0;
    right:0;
    background-color: none;
    font-size: 19px;
    padding:5px 8px;
    position: absolute;
    
}